:root {
  //Colors
  --white: #fff;
  --dark: #1C1C1C;
  --gray-800: #606060;
  --gray-600: #505050;
  --gray-500: #8B96A5;
  --gray-400: #BDC4CD;
  --gray-300: #DEE2E7;
  --gray-200: #EFF2F4;
  --gray-100: #F7FAFC;
  --primary: #0D6EFD;
  --warning-color-300: #e5ac39;

  //Sizes
  --container-width: 1240px;
}