@import "../../../app/styles/mixins";

.item {
  @include flex(row, flex-start, flex-start, 1rem);

  padding: 1.5rem 0;
  border-bottom: 1px solid var(--gray-300);

  &:first-child {
    padding-top: 0;
  }

  .img {
    width: 80px;
    height: 80px;
  }

  .itemInfo {
    @include flex(column, space-between, flex-start, 1rem);

    width: 100%;

    .title {
      @include flex(row, space-between);

      width: 100%;
      font-weight: bold;
    }

    .controlWrapper {
      .control {
        @include flex(row, space-around, center, 0.5rem);

        width: 250px;
        padding: 5px 10px;
        font-size: 18px;

        .controlItem {
          @include flex;
        }
      }
    }
  }
}