@import "src/app/styles/mixins";

.container {
  @include container(var(--container-width));

  .spinnerWrapper {
    @include flex;

    position: absolute;
    z-index: 10;
    inset: 0;

    width: 100vw;
    height: 100vh;

    background: rgb(150 150 150 / 50%);
  }

  .products {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
  }
}