@import "src/app/styles/mixins";

.container {
  @include container(var(--container-width));

  .emptyCart {
    @include flex(column, center, center);

    color: var(--gray-500)
  }

  .cartWrapper {
    @include flex(row, center, flex-start, 1rem);
  }

  .orderWrapper {
    width: 70%;
    padding: 1.5rem;

    background: white;
    border: 1px solid var(--gray-300);
    border-radius: var(--radius);

    .btns {
      @include flex(row, space-between, center);

      padding-top: 1.5rem;
    }
  }

  .priceWrapper {
    @include flex(column, flex-start, normal, 1rem);

    width: 30%;
    padding: 1.5rem;

    background: white;
    border: 1px solid var(--gray-300);
    border-radius: var(--radius);

    .price {
      @include flex(row, space-between);

      font-size: 18px;
      font-weight: bold;
    }

    .products {
      @include flex(row, space-between);

      font-weight: bold;
    }
  }
}
