@import "src/app/styles/mixins";

.wrapper {
  @include flex(row, flex-start, center, 1rem);

  margin: 1.5rem 0;

  .search {
    width: 400px;
  }

  .selectWrapper {
    @include flex(column, flex-start, flex-start);

    position: relative;

    .selectLabel {
      position: absolute;
      top: -20px;
      left: 0;

      font-size: 14px;
      color: var(--gray-600)
    }

    .select {
      width: 150px;
    }
  }
}