@import "src/app/styles/mixins";

.header {
  @include flex(row, flex-start, normal);

  width: 100vw;
  height: 86px;
  margin-bottom: 40px;
  padding: 0;

  background: #F0F0F0;

  .container {
    @include flex(row, space-between);
    @include container(var(--container-width));

    height: 100%;
    color: var(--primary-color);

    .logo {
      @include flex;
    }

    .links {
      @include flex(row, center, center, 1.5rem);

      .outlinedButton {
        @include flex(column, center, center);

        padding: 5px;
        font-size: 18px;
        color: var(--primary-color);


        .text {
          margin: 0;
          font-size: 10px;
        }
      }
    }
  }
}